@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Merriweather:wght@700;900&family=Montserrat&family=Poppins:wght@300&family=Quicksand:wght@400;700&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;500&family=Offside&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .review-form-label {
    @apply text-xl mb-2;
    font-family: "Quicksand";
  }
}
.star-hovered {
  color: #f79327;
}
body {
}
:root {
  --primary-color: #27374d;
  --primary-bg-color: #526d82;
}
.large-this:first-child:first-letter {
  color: #191919;
  float: left;
  font-family: Georgia;
  font-size: 80px;
  line-height: 70px;
  padding-top: 4px;
  padding-right: 10px;
  padding-left: 3px;
  font-weight: 600;
}
.large-first-letter:first-letter {
  color: #191919;
  float: left;
  font-family: Georgia;
  font-size: 80px;
  line-height: 70px;
  padding-top: 4px;
  padding-right: 10px;
  padding-left: 3px;
  font-weight: 600;
}
.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 0;
}
.medium-thin-heading {
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
}
.large-thin-heading {
  font-size: 41px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
}
.josefin-sans {
  font-family: "Josefin Sans";
  font-weight: 400;
}

.big-heading {
  font-size: 3.5rem;
  font-family: "Merriweather";
}
.body-text {
  font-size: 1.25rem;
  line-height: 2.5rem;
  font-family: "Poppins";
}
.medium-heading {
  font-size: 2.5rem;
  font-family: "Merriweather";
}
@media (max-width: 800px) {
  .big-heading {
    font-size: 2.5rem;
  }
  .medium-heading {
    font-size: 2rem;
  }
  .body-text {
    font-size: 1.1rem;
  }
}
